
/*****/
/*website font*/
*{
    margin: 0;
    padding: 0;
   font-family: 'Playfair Display', serif;
}

/*****/
/* background image */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("images/lake.JPG");
    background-position: center;
    background-size: cover;
    position: relative;
}

/*****/
/*header*/
nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 1px;
    background: #fff;
    display: block;
    margin: auto; 
    transition: 0.5s;
    
}

.nav-links ul li:hover::after{
    width: 100%;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px 
}




/*****/
/* header text*/
.text-box{
    width: 85%;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

.text-box p{
    margin: 15px 0 45px;
    font-size: 15px;
    color: #7094db;
}

.text-box h1{
    font-size: 58px;
}




/*****/
/* toggle doesnt display when screen is large*/
nav .fa{
    display:none
}

/*****/
/* toggle menu */
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background:#7094db;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
     nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
        
    }
    
   
}


/*****/
/* overview */
.overview{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.overview-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:30px;
    cursor:pointer;
    display: flex;
    text-align:center;
    background: #eff1f5;

}

.overview-col p{
    padding: 0;
    
}

.overview-col img{
    height: 40px;
    margin-left: 0px;
    margin-right: 5px;
    border-radius: 50%;
    
}


@media(max-width:700px){
    .overview-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}




/*****/
/* academics */

.row{
    margin-top: 5%;
    display: flex;
    justify-content:space-evenly;
}

h1{
    font-size: 38px;
    font-weight: 500;
    
}

.academics{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 70px ;
}

.academics p{
    color:#1a3e0f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.course-col{
    flex-basis: 31%;
    background:#eefaea;
    border-radius: 20px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5;
}


h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
      
.course-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0, 0.2);
    
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}



/*****/
/* work */
.work{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.work-col{
    flex-basis: 31%;
    border-radius: 20px;
    margin-bottom: 5%;
    padding:20px 12px;
    
    text-align:center;
    box-sizing: border-box;
    background:#eafafa .8;
    border: .01px solid #1d7c7c;
}

.work-col p{
    color: #1d7c7c
    padding: 4px;
}

.work-col h3{
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
}

.work-col p2{
font-size: 12px;
}



/*****/
/* hobbies */
.hobbies{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.hobbies-col{
    flex-basis:32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.hobbies-col img{
    width:100%;
    display: block;
}


.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: :0.5;
}

.layer:hover{
    background: #fff3f3;
    opacity:.85;
}

.layer h3{
    width:100%;
    font-weight:500;
    color: #000;
    font-size: = 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity:1;
}


/*****/
/* final */    
.final{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}  

.final p{
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 10px;
}


/*****/
/* contact page */
.second-header{
    height:50vh;
    width:100%;
    background-image: url(images/bostonbuildings.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    color:#fff;
}

.second-header h1{
   margin-top: 100px;
}


/*****/
/* contact */  

.contact{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.contact h4{
    margin-bottom: 15px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    
}

.contact p3{
    margin-bottom: 25px;
    font-size: 15px;
}



    

